<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/_head') %>
</head>
<body class="container grey darken-4 white-text">
    <section class="row">  
        <%- include('./partials/_form') %>
    </section>
   <a href="/">back home</a>
   <br>
   <a href="/signup">no account, signup!</a>
</body>
</html>